<head>
<meta charset="utf-8"
<title>Sample HTML5 Structure</title>
<style>
h1,h2{
    margin:0px;
    font-size:1.em;
}
footer{
    background-color:#999;
    text-align:center;
}
</style>
</head>
